/HelloWorld-Swing/nbproject/private/
/HelloWorld-Swing/build/
/HelloWorld-JavaFX/nbproject/private/
/HelloWorld-JavaFX/build/
/HelloWorld-JavaFX/dist/
/HelloWorld-Swing/dist/
/Watch-Swing/nbproject/private/
/Watch-Swing/build/
/SystemTime-Swing/nbproject/private/
/SystemTime-Swing/build/
/SystemTime-Swing/dist/
/SystemLanguage-Swing/nbproject/private/
/SystemLanguage-Swing/build/
/SystemLanguage-Swing/dist/
/PrimitiveDataType/nbproject/private/
/PrimitiveDataType/build/